{% extends 'enroll/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-4">
                <h4 class="text-center alert alert-info">Add new Student</h4>
                <form action=" " method="POST" >
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" class=" btn btn-success" value="Add">
                </form>
            </div>
            <div class="col-sm-7 offset-1">
                <h4 class="text-center alert alert-info">Show Student Informantion</h4>
                {% if stu %}
                <table class="table table-hover class="d-inline" ">
                    <thead>
                        <tr>
                            <td scope="col">Id</td>
                            <td scope="col">Nmae</td>
                            <td scope="col">Email</td>
                            <td scope="col">Password</td>
                            <td scope="col">Comments</td>
                            <td scope="col">Actions</td>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for st in stu %}
                        <tr>
                            <th scope="row">{{ st.id}}</th>
                            <td>{{st.name}}</td>
                            <td>{{st.email}}</td>
                            <td>{{st.password}}</td>
                            <td>{{st.comment}}</td>
                            <td>
                                <a href="{% url 'updatedata' st.id %}" class="btn btn-warning btn-sm">Edit</a>
                                <!-- <a href='#' class="btn btn-danger btn-sm">Delete</a> -->
                                <form action="{% url 'deletedata' st.id %}" method="POST" class="d-inline"> {% csrf_token %}
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                </form>
                                </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% else %}
                <h4 class="text-center alert alert-warnning">No Informantion</h4>
                {% endif %}
            </div>

        </div>
    </div>

</div>
{% endblock content %}